
            body {
                font-family: 'Montserrat', sans-serif;
            }
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }
            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
            .b-example-divider {
                width: 100%;
                height: 3rem;
                background-color: #0000001a;
                border: solid rgba(0, 0, 0, 0.15);
                border-width: 1px 0;
                box-shadow: inset 0 0.5em 1.5em #0000001a, inset 0 0.125em 0.5em #00000026;
            }
            .bi {
                vertical-align: -0.125em;
                fill: currentColor;
            }

            .btn-bd-primary {
                --bd-violet-bg: #712cf9;
                --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
                --bs-btn-font-weight: 600;
                --bs-btn-color: var(--bs-white);
                --bs-btn-bg: var(--bd-violet-bg);
                --bs-btn-border-color: var(--bd-violet-bg);
                --bs-btn-hover-color: var(--bs-white);
                --bs-btn-hover-bg: #6528e0;
                --bs-btn-hover-border-color: #6528e0;
                --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
                --bs-btn-active-color: var(--bs-btn-hover-color);
                --bs-btn-active-bg: #5a23c8;
                --bs-btn-active-border-color: #5a23c8;
            }
            .bd-mode-toggle {
                z-index: 1500;
            }
            .bd-mode-toggle .bi {
                width: 1em;
                height: 1em;
            }
            .bd-mode-toggle .dropdown-menu .active .bi {
                display: block !important;
            }

             .card {
                transition: transform 0.3s ease, box-shadow 0.3s ease;
            }
            .card:hover {
                transform: translateY(-5px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
            }
            .card-img-top {
                height: auto;
                width: 100%;
                aspect-ratio: 1 / 1;
                object-fit: cover;
            }
            #aqui td {
                background-color: transparent;
            }
            .link-footer {
                color: darkseagreen;
                text-decoration: none;
            }
            .link-footer:hover {
                color: #649a64;
            }
            .navbar-toggler {
                --bs-navbar-toggler-border-color: darkseagreen;
                --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%238FBC8F' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
                }
            .navbar-toggler:focus {
                box-shadow: 0 0 0 0.25rem rgba(143, 188, 143, 0.5);
                }
            .btn-con-emoji:hover::after {
                content: ' рнирнз';
                display: inline-block;
                animation: fadeIn 0.3s;
                }
            @keyframes fadeIn {
                from {
                    opacity: 0;
                    transform: translateX(-5px);
                    }
            to {
                opacity: 1;
                transform: translateX(0);
                }
            }


